.month:last-child .users-list-wrapper:after,
.month:last-child .users-list-wrapper {
    top: initial;
    bottom: 0;
}

.users-list-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    right: -110%;
    background: #fff;
    border: 1px solid rgba(0,0,0, .5);
    border-radius: 4px;
    box-shadow: 2px 3px 5px rgba(0,0,0, .3);
    z-index: 100;
    color: #4c4c4c;
}

.users-list {
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 5px 10px;
    list-style: none;
}

.users-list-wrapper:before {
    content: "";
    position: absolute;
    left: -12%;
    width: 20%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}

.users-list-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    border: 20px solid transparent;
    border-right-color: #4c4c4c;
}